@charset "utf-8";

* {  margin: 0;  padding: 0;  }
.noClick {  pointer-events: none;  -webkit-touch-callout: none;  }
html, body {  height: 100%; font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu,sans-serif,georgia,verdana,helvetica;}
img {  display: block;  position: absolute;  }
#wrap {  width: 100%;  min-width: 320px;  max-width: 640px;  height: 100%;  margin: 0 auto;  display: none;}

/******************************************************用户横屏样式***************************************/
#landscape {  width: 100%;  height: 100%;  position: fixed;  z-index: 999;  background: black;  display: none;}
#landscape p{  padding-top: 23%;  font-size: 0.4rem;  color: white;  text-align: center;  }


/*portrait竖屏*/
@media screen and (orientation:landscape) {
    #landscape{display: block;}
    #loading{display: none;}
}
.swiper-container {  width: 100%;  height: 100%;  position: relative;  }
.swiper-slide {  width: 100%;  height: 100%;   overflow: hidden; }


/*game1*/
.game1{ background: url("../images/game2.jpg"); background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.game1_bg{ position: absolute; width: 100%; height: 100%;}
.game1_bg_left,.game1_bg_right{ width: 50%;height: 100%;float: left;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.game1_bg_left{ background-image: url("../images/game1_01.jpg");}
.game1_bg_right{ background-image: url("../images/game1_02.jpg");}

.game1_bg_go .game1_bg_left{ animation: fadeOutLeft_bg 2s linear both;-webkit-animation: fadeOutLeft_bg 2s linear both; }
.game1_bg_go .game1_bg_right{ animation: fadeOutRight_bg 2s linear both;-webkit-animation: fadeOutRight_bg 2s linear both; }

@-webkit-keyframes fadeOutLeft_bg {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
}

@keyframes fadeOutLeft_bg {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
}

@-webkit-keyframes fadeOutRight_bg {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(80%, 0, 0);
        transform: translate3d(80%, 0, 0);
    }
}

@keyframes fadeOutRight_bg {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(80%, 0, 0);
        transform: translate3d(80%, 0, 0);
    }
}


.game1_top{ position: relative; width: 6.4rem; height: 4.56rem; margin-top: 0.3rem;}
.game1_top ul{ width: 100%;height: 100%;position: relative; }
.game1_top ul li{ z-index: 1; width: 100%; height: 100%; position: absolute;left: 0; top: 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
/*<!-- 小三角-->*/
.game1_top ul li:nth-child(1){ background-image: url("../images/game1_li_1.png")}
.game1_top ul li:nth-child(2){ background-image: url("../images/game1_li_2.png")}
.game1_top ul li:nth-child(3){ background-image: url("../images/game1_li_3.png")}
.game1_top ul li:nth-child(4){ background-image: url("../images/game1_li_4.png")}
.game1_top ul li:nth-child(5){ background-image: url("../images/game1_li_5.png")}
.game1_top ul li:nth-child(6){ background-image: url("../images/game1_li_6.png")}
.game1_top ul li:nth-child(7){ background-image: url("../images/game1_li_7.png")}
.game1_top ul li:nth-child(8){ background-image: url("../images/game1_li_8.png")}
.game1_top ul li:nth-child(9){ background-image: url("../images/game1_li_9.png")}

/*<!-- 底部三角型-->*/
.game1_top ul li:nth-child(10){ background-image: url("../images/game1_5.png")}

/*<!-- 三角框边线-->*/
.game1_top ul li:nth-child(11){ background-image: url("../images/game1_li_10.png")}
.game1_top ul li:nth-child(12){ background-image: url("../images/game1_li_11.png")}
.game1_top ul li:nth-child(13){ background-image: url("../images/game1_li_12.png")}
.game1_top ul li:nth-child(14){ background-image: url("../images/game1_li_13.png")}
.game1_top ul li:nth-child(15){ background-image: url("../images/game1_li_14.png")}

/*<!-- 中间三角形-->*/
.game1_top ul li:nth-child(16){ background-image: url("../images/game1_6.png")}

/*文字*/
.game1_top ul li:nth-child(17){ background-image: url("../images/game1_li_15.png")}
.game1_top ul li:nth-child(18){ background-image: url("../images/game1_li_16.png")}
.game1_top ul li:nth-child(19){ background-image: url("../images/game1_li_17.png")}
.game1_top ul li:nth-child(20){ background-image: url("../images/game1_li_18.png")}


.game1_center{ position: relative; width: 6.4rem; margin-top: 0.4rem;}

.zhiwen{ width: 1.44rem;height: 1.80rem;margin: 0 auto; background: url("../images/game1_9.png") no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;animation: pulse 1s infinite both; -webkit-animation: pulse 1s infinite both;}
.game1_center_1{ width: 6.4rem; height: 0.76rem; margin-top: 0.1rem; background: url("../images/game1_10.png") no-repeat; background-size: 6.4rem 0.76rem;-webkit-background-size: 6.4rem 0.76rem; }

@keyframes line_ani {
    0%{
        -webkit-transform: translate3d(-1rem, 0, 0);
        transform: translate3d(-1rem, 0, 0);
    }
    100%{
        -webkit-transform: translate3d(6.4rem, 0, 0);
        transform: translate3d(6.4rem, 0, 0);
    }
}
@-webkit-keyframes line_ani {
    0%{
        -webkit-transform: translate3d(-1rem, 0, 0);
        transform: translate3d(-1rem, 0, 0);
    }
    100%{
        -webkit-transform: translate3d(6.4rem, 0, 0);
        transform: translate3d(6.4rem, 0, 0);
    }
}
.game1_footer{ position: absolute;bottom: 0; left: 0; width: 6.4rem;height: 1.75rem}
.game1_footer ul li{ position: absolute;left: 0;top: 0; width: 100%;height: 100%; background-size: 100% 100% ;-webkit-background-size: 100% 100%;}
.game1_footer ul li:nth-child(1){ background-image: url("../images/game1_11.png");}
.game1_footer ul li:nth-child(2){ background-image: url("../images/game1_12.png");}
.game1_footer ul li:nth-child(3){ background-image: url("../images/game1_13.png");}

/*game1*/


/*game2*/
.game2{ background: url("../images/game2.jpg") no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.game2_top{ position: relative; width: 6.4rem; height: 3.97rem;}
.game2_top ul{ width: 100% ;height: 100%; position: relative;}
.game2_top ul li{ list-style: none; position: absolute; z-index: 1;width: 100%;height: 100%;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.game2_top ul li:nth-child(1){ background-image: url("../images/game2_4.png")}
.game2_top ul li:nth-child(2){ background-image: url("../images/game2_5.png")}

.game2_center{ width: 4rem;height: 1.12rem; margin: 0 auto; overflow: hidden; padding-left: 0.16rem; padding-right: 0.3rem; margin-top: 0.4rem; background: url("../images/game2_6.png") no-repeat; background-size: 100% 100%;-webkit-background-size: 100% 100%;}
#bar{ width: 0;height: 100%; position: relative;}
#bar li{ display: none; list-style: none; width: 0.2rem;height: 100%; float: left;background: url("../images/game2_7_.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
#deng{ display: none;}


.game2_footer{ position: absolute;width: 6.4rem;height: 4.08rem; left: 0; bottom: 0;}
.game2_footer_main{ position: relative; width: 100%;height: 100%;}
.game2_footer_1{ position: absolute;z-index: 1; width: 100%;height: 100%;background: url("../images/game2_1.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.game2_footer_2{ position: absolute;z-index: 1; width: 100%;height: 100%;background: url("../images/game2_1_.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.game2_footer_3{ position: absolute;z-index: 1; width: 100%;height: 100%;background: url("../images/game2_3.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.game2_footer_4{ position: absolute;z-index: 1; width: 100%;height: 100%;background: url("../images/game2_3_.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}


.game2_footer_shake{ position: absolute; width: 1rem;height: 0.96rem;z-index: 1; right: 0.2rem;bottom: 1.8rem;
    background: url("../images/game2_8.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;
    animation: shake 2s infinite both;-webkit-animation: shake 2s infinite both;
    transform-origin: -100% 100% 0;
    -webkit-transform-origin: -100% 100% 0;}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

/*game2*/

/*game3*/
.game3_main{ width: 100%; height: 100%;background: url("../images/game3.jpg") no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

@keyframes game3_main_ani {
    0%{ opacity: 0; transform: scale3d(2,2,2);-webkit-transform: scale3d(2,2,2)}
    100%{ opacity: 1; transform: scale3d(1,1,1);-webkit-transform: scale3d(1,1,1)}
}
@-webkit-keyframes game3_main_ani {
    0%{ opacity: 0; transform: scale3d(2,2,2);-webkit-transform: scale3d(2,2,2)}
    100%{ opacity: 1; transform: scale3d(1,1,1);-webkit-transform: scale3d(1,1,1)}
}
.game3_main_ani {
    -webkit-animation-name: game3_main_ani;
    animation-name: game3_main_ani;
}
/*.game3{ background: url("../images/game3.jpg") no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%;}*/
/*.game3{ width: 6.4rem;height: 100%; background: url("../images/game3.jpg")left no-repeat; background-size: auto 100%; -webkit-background-size: auto 100%; }*/
/*.game3_bg_ani{  animation: game3_bg_ani 3s linear both; -webkit-animation: game3_bg_ani 3s linear both;  }*/
@keyframes  game3_bg_ani{
    0%{background-position: 0 0;}
    100%{background-position: 100% 0;}
}
@-webkit-keyframes  game3_bg_ani{
    0%{background-position: 0 0;}
    100%{background-position: 100% 0;}
}

/*game3*/






/*动画*/


@keyframes my_ani1 {
    0%{  opacity: 0; transform: rotate(10deg)  scale3d(1.5,1.5,1.5); -webkit-transform: rotate(10deg) scale3d(1.5,1.5,1.5);}
    100%{  opacity: 1; transform: rotate(0deg) scale3d(1,1,1); -webkit-transform:rotate(0deg) scale3d(1,1,1);}
}
@-webkit-keyframes my_ani1 {
    0%{  opacity: 0; transform: rotate(10deg)  scale3d(1.5,1.5,1.5); -webkit-transform: rotate(10deg) scale3d(1.5,1.5,1.5);}
    100%{  opacity: 1; transform: rotate(0deg) scale3d(1,1,1); -webkit-transform:rotate(0deg) scale3d(1,1,1);}
}
.my_ani1 {
    -webkit-animation-name: my_ani1;
    animation-name: my_ani1;
}

@keyframes my_ani2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0.5rem, 0);
        transform: translate3d(0, 0.5rem, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes my_ani2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0.5rem, 0);
        transform: translate3d(0, 0.5rem, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.my_ani2 {
    -webkit-animation-name: my_ani2;
    animation-name: my_ani2;
}


@-webkit-keyframes my_ani3 {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3rem, 0);
        transform: translate3d(0, -3rem, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes my_ani3 {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3rem, 0);
        transform: translate3d(0, -3rem, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
.my_ani3 {
    -webkit-animation-name: my_ani3;
    animation-name: my_ani3;
}
@keyframes my_ani4 {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3rem, 0);
        transform: translate3d(0, 3rem, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes my_ani4 {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3rem, 0);
        transform: translate3d(0, 3rem, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
.my_ani4 {
    -webkit-animation-name: my_ani4;
    animation-name: my_ani4;
}

@keyframes my_ani5 {
    0%,100%{ transform-origin: -100% 20% 0;
        -webkit-transform-origin: -100% 20% 0;}
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes my_ani5 {
    0%,100%{ transform-origin: -100% 20% 0;
        -webkit-transform-origin: -100% 20% 0;}
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.my_ani5 {
    -webkit-animation-name: my_ani5;
    animation-name: my_ani5;
}

@keyframes my_ani6 {
    0%,100%{ transform-origin: -100% 50% 0;
        -webkit-transform-origin: -100% 50% 0;}
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes my_ani6 {
    0%,100%{ transform-origin: -100% 50% 0;
        -webkit-transform-origin: -100% 50% 0;}
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.my_ani6 {
    -webkit-animation-name: my_ani6;
    animation-name: my_ani6;
}

/*动画*/
/**/







@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.fadeOutLeft{
    -webkit-animation: fadeOutLeft 5s linear both;
    animation: fadeOutLeft 5s linear both;
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(120%, 3rem, 0);
        transform: translate3d(120%, 3rem, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(120%, 3rem, 0);
        transform: translate3d(120%, 3rem, 0);
    }
}











#loading {
    overflow: hidden;
    width: 6.4rem;
    height: 100%;
    margin: 0 auto;
    background: #000;
    z-index: 100;
    font-size: 2em;
}
/*loading的动画*/
@-webkit-keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3; }

    100% {
        opacity: 1; } }

@keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3; }

    100% {
        opacity: 1; } }

.line-spin-fade-loader {
    position: absolute;
    top: 50%;
    left: 50%;}
.line-spin-fade-loader > div:nth-child(1) {
    top: 20px;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(2) {
    top: 13.63636px;
    left: 13.63636px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(4) {
    top: -13.63636px;
    left: 13.63636px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(5) {
    top: -20px;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(6) {
    top: -13.63636px;
    left: -13.63636px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -20px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out; }
.line-spin-fade-loader > div:nth-child(8) {
    top: 13.63636px;
    left: -13.63636px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out; }
.line-spin-fade-loader > div {
    background-color: #fff;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 5px;
    height: 15px; }
